* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

body,
html {
  min-height: 100vh; 
  height:2000px;
  background: linear-gradient(130deg, rgb(16, 80, 109),rgba(20, 15, 125, 0.927) );
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  padding: 20px 35px;
  width:500px;
  background: linear-gradient(
    90deg,
    rgb(19, 192, 227) 0%,
    rgb(55, 55, 205) 100%
  );
  border-radius: 3rem;
  border: none;
  transition:.1s;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 222) 0%,
    rgb(19, 192, 227) 100%
  );
  transition:.1s linear;
}
