 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid red; */
}

body{
  background: #434750;
  display: flex;
  flex-direction: column;
}

/* menu de navegacao */

nav {
  padding: 0.6% 3%;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

#menu_geral {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

nav #ul_estilo {
  display: flex;
  position: relative;
  transition: 0.5s;
  align-items: center;
  justify-content: end;
  justify-content: space-between;
}

nav #ul_estilo li {
  position: relative;
  transition: 0.5s;
  background: #2e3133;
  padding: 10px 6px;
}

nav #ul_estilo li:hover {
  background: #33a3ee;
  transform: translateY(15px);
  transition: 0.5s;

}

nav #ul_estilo li::before {
  content: '';
  position: absolute;
  left: 100%;
  width: 9px;
  height: 100%;
  background: #2e3133;
  transform: skewY(59.7deg);
  transform-origin: right;
  transition: 0.5s;
  bottom: -15.9px;
}

nav #ul_estilo li:hover::before {
  background: #1f5378;
  transition: 0.5s;
}

nav #ul_estilo li::after {
  content: '';
  position: absolute;
  width: 100%;
  background: #35383e;
  transform-origin: bottom;
  transform: 0.5s;
  bottom: -15px;
  left: 8px;
  height: 15px;
  transform: skewX(27deg);

}

nav #ul_estilo li:hover::after {
  background: #2982b9;
  transition: 0.5s;
}

nav #ul_estilo li a {
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

nav #menu_geral li:first-child{
  justify-content: start;
}

#logo-nav{
  color:#FFF;
  font-size: 35px;
  font-weight:bold;
}

/************ Botão menu-burger ************/

#btn-menu{
  width: 45px;
  height: 45px;
  background: transparent;
  cursor: pointer;
  transition: 1s;
  display: none
}

.linha {
  width: 25px;
  height: 2px;
  background-color: #ccc;
  display: block;
  margin: 6px auto;
  position: relative;
  transform-origin: center;
  transition: 0.4s;
}

/* Botão menu-burger ATIVO */

nav button.active {
  border: 2px solid red;
}

nav button.active .linha:nth-child(1){
  /* Rotacionando a primeira linha pra formar uma perna do X */
  transform: translateY(8px) rotate(-45deg);
  background-color: red;
}

nav button.active .linha:nth-child(3){
  /* Rotacionando a terceira linha pra formar a outra perna do X */
  transform: translateY(-8px) rotate(45deg);
  background-color: red;
}

nav button.active .linha:nth-child(2){
  /* Removendo a linha do meio */
  width: 0;
}

/************ Responsividade para moblile ************/
@media (max-width:700px){
  
  #logo-nav{
    font-size: 30px;
  }

  body{
    margin: 4% 3% ;
    display: flex;
    /* background: #434750; */
  }

  nav  {
    justify-content: start;
    position: relative;
  }
  
  #menu_geral {
    justify-content: start;
    /* position: relative; */
    justify-content: space-between;
  }

  /* Botão burger */
  #btn-menu {
    display: block;
  }

  /* Menu mobile */
  .menu {

    display: flex;
    align-items: start;
  
    backdrop-filter: blur(2px);
    position: absolute;
    /* margin-top: 50px; */
  
    width: calc(100vw - 73px);
    height: 0;
  
    visibility: hidden; /* Normalmente vai ficar escondido */
    transition: 1s;
    overflow: hidden;
  }  

  /* Acrescentando o menu mobile */
  .menu.abrirMenu{
    visibility: visible;
    padding-top: 30px;
    height: calc(100vh - 100px);
  }

  nav #ul_estilo {
    flex-direction: column;
    position: relative;
    transition: 0.5s;
  }
  
  nav #ul_estilo li {
    position: relative;
    width: 200px;
    padding: 5px;
    background: #3e3f46;
    z-index: var(--i);
    transition: 0.5s;
  }
  
  nav #ul_estilo li:hover {
    background: #33a3ee;
    transform: translateX(50px);
    transition: 0.5s;
  
  }
  
  nav #ul_estilo li::before {
    content: '';
    position: absolute;
    top: -55px;
    left: 100%;
    width: 20px;
    height: 100%;
    background: #2e3133 ;
    transform: skewY(-70deg);
    transform-origin: right;
    transition: 0.5s;
  }
  
  nav #ul_estilo li:hover::before {
    background: #1f5378;
  }
  
  nav #ul_estilo li::after {
    content: '';
    position: absolute;
    top: -54px;
    left: 0;
    width: 100%;
    height: 54px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(-20deg);
    transform: 0.5s;
  
  }
  
  nav #ul_estilo li:hover::after {
    background: #2982b9;
  }
  nav #ul_estilo li a {
    color: #999;
    display: block;
    text-transform:uppercase ;
    letter-spacing: 0.05em;
    transition: 0.5s;
    padding: 15px;
  }
  
  nav #ul_estilo li:hover a {
    color: #fff;
  }
  
  nav #ultimo-nav-shadow::after {
    box-shadow: 50px 130px 20px rgba(0, 0, 0, 0.25);
  } 
  
}


/* conteudo geral */

.conteudo {
  min-height: 50vh;
}

/* footer geral com animacao */

footer {
  margin-top: 110px;
  position: relative;
  width: 100%;
  background-color: #3586ff;
  min-height: 200px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icone, footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icone li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icone li a:hover {
  transform: translateY(-10px);
} 

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0px;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {

  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}








