* {
  margin: 0;
  padding: 0;
  text-decoration: none; 
  font-size: 16px;
  list-style-type: none;
  border: 1px solid red;
}

nav {
  background-color: rgb(108, 108, 108);
  height: auto;
  padding: auto;
}

.nav-ul {
  display: flex;
  justify-content: center;
  border: 3px solid green;
}

.btn-nav {
  padding: 20px;
}

.nav-links {
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight:500;
} 



#img-nav {
  float: ;
  height: 40px;
  width: auto;
  margin: 0;
  padding: 0;
}

.btn-nav a:hover {
color: red;
transition:0.8s;
}