.quiz-box {
  position: relative;
  width: 600px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 1.1rem 1.3rem;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}

/* segundo */
.subtitulo-quiz {
  font-size: 1rem;
}

.cabecalho-quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.score-container, .question-count {
  width: 200px;
  text-align: center;
}

.score-container h2, .question-count h2 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 400;
}

.score, .question-number {
  font-size: 4em;
  font-weight: 100;
}

.description {
  font-size: 1.5em;
}

.questions {
  width: 85%;
  margin: 35px auto 0;
}

.question {
  font-size: 2em;
}

.question-answers {
  margin-top: 0.75em;
  padding-left: 1.2em;
}

.question-answer {
  list-style-type: lower-alpha;
  cursor: pointer;
  padding: 0.3em;
  margin-bottom: 0.3em;
  border: 3px solid transparent;
}

.answer {
  font-size: 1em;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.question {
  display: none;
  animation: slide-in 0.4s ease;
}

.question:first-child {
  display: block;
}

/* resultados geral do quiz */
.results-container {
  width: 100%;
  border: 10px solid gold;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 1rem;
  animation: slide-in 0.4s ease;
  max-width: 300px;
  gap: 0.3rem;
}

.results-total {
  margin-top: 1rem;
  font-size: 1.1em;
}

#reiniciarQuiz {
  position: relative;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
  border: 2px solid #2b8285;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 0.75em;
  transition: background 0.2s;
}
#reiniciarQuiz:hover {
  background: rgba(255, 255, 255, 0.1);
}
#reiniciarQuiz.active {
  background: rgba(255, 255, 255, 0.5);
  top: -2px;
}

.wrong {
  background: rgba(212, 14, 14, 0.726);
  animation: shake 0.5s cubic-bezier(0.35, 0.05, 0.2, 0.99) both;
}

.right {
  background: rgba(83, 226, 61, 0.5);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(1px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  45%, 55% {
    transform: translateX(2px);
  }
}
/* mensagem dos pontos ganhos */
.correct-modal {
  font-size: 5em;
  text-align: center;
  width: 100%;
  background: rgb(38, 147, 211);
  padding: 5%;
  will-change: transform;
  transform: scale(4);
  z-index: 2;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  display: none;
}

.correct-modal.modal-enter {
  display: flex;
  animation: modal-enter 2s ease-in both;
  overflow-y: hidden;
}

.praise, .points {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

@keyframes modal-enter {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    display: none;
    transform: scale(1);
  }
}
@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3em;
  }
  header {
    padding: 50px 0 30px;
  }
  .questions {
    width: 75%;
  }
  .question-answer:hover {
    border-color: rgba(0, 0, 0, 0.5);
  }
  .question-answer:focus {
    outline: gray solid 1px;
  }
  .correct-modal {
    height: 300px;
  }
}/*# sourceMappingURL=quizPerguntas.css.map */