#category {
  text-align: center;
  max-width: 500px;
}

#category h2,
#category p {
  margin-bottom: 1rem;
}

#category p {
  color: #ffffff;
  font-size: 25px;
}

#category img {
  margin-top: 2rem;
  max-width: 120px;
}

#category button {
  margin: 1rem;
}
