.popupInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 35rem;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0.8rem 1.2rem;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popupInfo.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.popupInfo h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  color: #c40094;
}

hr {
  color: #999;
  margin: 1rem 0;
}

.info {
  display: inline-block;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin: 0.4rem 0;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

.info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2.8rem;
  background-color: #c40094;
  border: 2px solid #c40094;
  outline: none;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-btn:nth-child(1) {
  background-color: transparent;
  color: #c40094;

  &:hover {
    background-color: #c40094;
    color: #fff;
  }
}

.info-btn:nth-child(2) {
  background-color: #c40094;
  color: #fff;

  &:hover {
    background-color: #950170;
    border-color: #950170;
  }
}