

footer .social_icone li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icone li a:hover {
  transform: translateY(-10px);
} 

footer .menu li a {
  font-size: 1.2em;
  color: #6f6f6f;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}


